* {
  font-family: "Poppins", sans-serif;
}

body {
  transition: 1s;
  color: #2a2f4f;
  transition: 1s;
  background-image: linear-gradient(#fde2f3, #e5beec);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  text-align: center;
  padding: 0;
}

.navbar {
  padding: 1.25em;
  font-weight: 500;
  font-size: 1.25em;
}

#active {
  // font-weight: bold;
  text-decoration: underline;
}

li {
  list-style: none;
  display: inline;
  margin: 0 2em;
  :hover {
    text-decoration: underline;
  }
}

.acc-btn {
  :hover {
    text-decoration: none;
  }
}

.logo {
  font-weight: bold;
  font-size: 2.5em;
  position: relative;
}

.left {
  padding-right: 8em;
}

.card {
  background-color: #ffffff;
  text-align: center;
  margin: 12.5em auto;
  width: 400px;
  border-radius: 2em;
  padding: 2em;
  box-shadow: 0px 0px 16px #f1f1f1ca;
}

a {
  text-decoration: none;
  color: #2a2f4f;
  padding: none;
  text-align: left;
}

.icon {
  font-size: 1.25em;
}

#forgot-pwd {
  margin-top: 1em;
  font-size: 1em;
  text-align: left;
  :hover {
    text-decoration: underline;
  }
}
#reg {
  margin-top: 0.25em;
  font-size: 1em;
  text-align: center;
  :hover {
    text-decoration: underline;
  }
}

.button {
  cursor: pointer;
  border-radius: 0.85em;
  box-shadow: 0 0 8px #2a2f4f64;
  border: none;
  background-color: #b188ff;
  color: #fde2f3;
  padding: 1em 1.2em;
}

.form {
  margin: 0 auto;
  width: 300px;
  padding: 2em 0;
  text-align: center;
  input {
    border: none;
    border-bottom: 1px solid #000000;
    box-shadow: none;
    padding: 0.75em 0.75em;
    padding-left: 50px;
    width: 230px;
    font-size: 1.15em;
  }
  .button {
    cursor: pointer;
    margin: 1.5em 0 0 0;
    padding: 0.5em;
    font-weight: 550;
    font-size: 1.25em;
    width: 100%;
    border-radius: 0.75em;
    box-shadow: 0 0 8px #2a2f4f64;
    border: none;
    background-color: #b188ff;
    color: #fde2f3;
  }
  i {
    position: absolute;
  }
  .icon {
    font-size: 1.35em;
    min-width: 40px;
    padding-top: 20px;
  }
}

textarea,
input {
  outline: none;
}

.card-logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 3.5em;
}

.err {
  border-radius: 1.25em;
  box-shadow: 0px 0px 8px #ffffffcb;
  background-color: #ffffff92;
  width: 400px;
  padding: 1.25em;
  position: absolute;
  top: 0;
  margin: 5em auto;
  z-index: 999;
  font-weight: bold;
  animation: pop;
}

footer {
  font-size: 1.25em;
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  width: 100%;
  a {
    text-decoration: underline;
  }
}
